.Main {
    background-color: green;
    grid-area: main;
    padding: 32px;
}

.MainLayout {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 32px;
    grid-auto-flow: row;
    transition: all 1s;
}

.Tmp {
    grid-row: span 2
}

.Tmp2 {
    grid-row: span 3
}

.SmallCard {
    grid-column: span 2;
}

.MediumCard {
    grid-column: span 3;
}

.BigCard {
    grid-column: span 6;
}


@media only screen and (max-width: 768px) {
    .MainLayout {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        transition: all 1s;
    }

    .SmallCard {
        grid-column: span 4;
    }

    .MediumCard {
        grid-column: span 4;
    }

    .BigCard {
        grid-column: span 4;
    }
}