:root {
    --white: #ffffff;
    --black: #000000;
    --lightBlue: #B3E5FC;
    --lessLightBlue: #4FC3F7;
    --teal: #26A69A;
    --fullwidth: 100%;
    --h4Size: 14px;
    --h4Height: 20px;
    --h5Size: 12px;
    --h5Height: 16px;
    --shadow: 0px 0px 9px 4px rgba(0,0,0,0.75);
    --roundCorners: 4px;
}

.Card1 {
    min-height: 52px;
    width: 100%;
    margin-bottom: 20px;
    background-color: red;
}
/*///////////////////////////////////////////////*/
.Card2 {
    width: 100%;
    margin-bottom: 20px;
    background-color: red;

    display: flex;
}

.Icon2 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    background-color: green;
}

.TextContainer2 {
    background-color: #61dafb;
    min-height: 36px;
    width: 100%;
}
/*///////////////////////////////////////////////*/
.Card3 {
    width: 100%;
    margin-bottom: 20px;
    background-color: red;

    display: flex;
}

.Icon3 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    background-color: green;
}

.TextContainer3 {
    background-color: #61dafb;
    width: 100%;
}

.Text3 {
    background-color: yellow;
    min-height: 16px;
    width: 100%;
}

.Amount3 {
    background-color: purple;
    min-height: 20px;
    width: 100%;
}
/*///////////////////////////////////////////////*/
.Card4 {
    width: 100%;
    margin-bottom: 20px;
    background-color: red;
    display: flex;
}

.Icon4 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    background-color: green;
}

.TextContainer4 {
    width: 100%;
}

.InnerTextContainer4 {
    background-color: yellow;
    width: 100%;
    display: flex;
}

.InnerText4 {
    width: 100%;
    min-height: 16px;
    background-color: cadetblue;
}

.InnerNumber4 {
    width: 100%;
    min-height: 16px;
    background-color: #0000bb;
}

.Amount4 {
    background-color: purple;
    min-height: 20px;
    width: 100%;
}
/*///////////////////////////////////////////////*/
.Card5 {
    width: 100%;
    margin-bottom: 20px;
    background-color: red;

    display: flex;
}

.Icon5 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;

    background-color: green;
}

.TextContainer5 {
    width: 100%;
}

.InnerTextContainer5 {
    background-color: yellow;
    width: 100%;
    display: flex;
}

.InnerText5 {
    width: 100%;
    min-height: 16px;
    margin-right: 4px;
    background-color: cadetblue;
}

.InnerNumber5 {
    width: 100%;
    min-height: 16px;
    background-color: #0000bb;
}

.Amount5 {
    background-color: purple;
    min-height: 20px;
    width: 100%;
}
/*///////////////////////////////////////////////*/
.Card6 {
    width: 100%;
    margin-bottom: 20px;
    background-color: red;
    position: relative;
    display: flex;
}

.Indicator6 {
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    position: absolute;
    top:4px;
    left: -4px;
    border-radius: 50%;
    background-color: #0000bb;
}

.Icon6 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;
    background-color: green;
}

.TextContainer6 {
    width: 100%;
}

.InnerTextContainer6 {
    background-color: yellow;
    width: 100%;
    display: flex;
}

.InnerText6 {
    width: 100%;
    min-height: 16px;
    margin-right: 4px;
    background-color: cadetblue;
}

.InnerNumber6 {
    width: 100%;
    min-height: 16px;
    background-color: #0000bb;
}

.Amount6 {
    background-color: purple;
    min-height: 20px;
    width: 100%;
}
/*///////////////////////////////////////////////*/
.Card7 {
    width: 100%;
    margin-bottom: 20px;
    background-color: red;
    position: relative;
    display: flex;
}

.Indicator7 {
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    position: absolute;
    top:4px;
    left: -4px;
    border-radius: 50%;
    background-color: #0000bb;
}

.Icon7 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;
    background-color: green;
}

.TextContainer7 {
}

.InnerTextContainer7 {
    display: flex;
}

.InnerText7 {
    margin-right: 4px;
    font-size: var(--h5Size);
    line-height: var(--h5Height);
    color: var(--black);
    font-weight: bold;
}

.InnerNumber7 {
    font-size: var(--h5Size);
    line-height: var(--h5Height);
    color: var(--lessLightBlue);
    font-weight: bold;
}

.Amount7 {
    font-size: var(--h4Size);
    line-height: var(--h4Height);
    color: var(--black);
}
/*///////////////////////////////////////////////*/
.Card8 {
    width: 100%;
    margin-bottom: 20px;
    background-color: red;
    position: relative;
    display: flex;
}

.Indicator8 {
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    position: absolute;
    top:4px;
    left: -4px;
    border-radius: 50%;
    background-color: #0000bb;
}

.Icon8 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;
}

.TextContainer8 {
}

.InnerTextContainer8 {
    display: flex;
}

.InnerText8 {
    margin-right: 4px;
    font-size: var(--h5Size);
    line-height: var(--h5Height);
    color: var(--black);
    font-weight: bold;
}

.InnerNumber8 {
    font-size: var(--h5Size);
    line-height: var(--h5Height);
    color: var(--lessLightBlue);
    font-weight: bold;
}

.Amount8 {
    font-size: var(--h4Size);
    line-height: var(--h4Height);
    color: var(--black);
}
/*///////////////////////////////////////////////*/
.Card9 {
    min-height: 36px;
    padding: 8px;
    margin-bottom: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--roundCorners);
    position: relative;
    text-align: start;
    word-break: break-all;
    display: flex;
}

.Card9:hover {
    background-color: var(--lightBlue);
}

.Indicator9 {
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    position: absolute;
    top:4px;
    left: -4px;
    border-radius: 50%;
    background-color: var(--teal);
}

.Icon9 {
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;
}

.TextContainer9 {
}

.InnerTextContainer9 {
    display: flex;
}

.InnerTextCommon {
    margin-right: 4px;
    font-size: var(--h5Size);
    line-height: var(--h5Height);
    font-weight: bold;
}

.InnerText9 {
    color: var(--black);
}

.InnerNumber9 {
    color: var(--lessLightBlue);
    word-break: keep-all;
}

.Amount9 {
    font-size: var(--h4Size);
    line-height: var(--h4Height);
    color: var(--black);
}
/*///////////////////////////////////////////////*/
